@import "./variables";

.about_us{
  width: 100%;
  background-color: rgba(216, 214, 214, 0.562);
  margin-top: 15rem;
  margin-bottom: 5rem;
}

.about{
  width: 80%;
  margin-bottom: 5rem;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  h2{
    margin: 2rem 0;
    grid-column: span 2;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
  }
  .photo{
    width: 90%;
    animation-duration: 2s;
    height: auto;
  }
  .content{
    font-size: 1.2rem;
    margin: 0 5rem;
    .btn{
      margin: 1rem 0;
      background-color: $dark-blue;
      border: 1px solid $black;
    }
    .btn:hover{
      background-color: $dark-blue;
    }
  }
  @media (max-width: 750px) {
    .photo,.content{
      grid-column: span 2;
      margin: 2rem 0;
    }
  }
}
.about_us.career{
  margin-top: 5rem !important;
  @media (max-width: 750px){
    .about .content{
      grid-row-start: 3;
    }
  }
}
.what{
  width: 80%;
}
.who,.what{
  h2{
    text-align: center;
    color: $dark-blue;
  }
  .content{
    margin: 20px 0;
  }
}