@import "./variables";

.about_us{
  width: 100%;
  background: #BBD2C5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #6f828d, #BBD2C5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #6f828d, #BBD2C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  margin-top: 15rem;
  margin-bottom: 5rem;
}

.about{
  width: 80%;
  margin-bottom: 5rem;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  padding-top: 50px;
  h2{
    margin: 2rem 0;
    grid-column: span 2;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
  }
  .photo{
    width: 90%;
    animation-duration: 2s;
    height: auto;
  }
  .content{
    font-size: 1.2rem;
    margin: 0 5rem;
    .btn{
      margin: 1rem 0;
      background-color: $dark-blue;
      border: 1px solid $black;
    }
    .btn:hover{
      background-color: $dark-blue;
    }
  }
  @media (max-width: 750px) {
    .photo,.content{
      grid-column: span 2;
      margin: 2rem 0;
    }
  }
}
.about_us.career{
  background: #BBD2C5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #6f828d, #BBD2C5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #6f828d, #BBD2C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  margin-top: 5rem !important;
  @media (max-width: 750px){
    .about .content{
      grid-row-start: 3;
    }
  }
}
.what{
  width: 80%;
}
.who,.what{
  h2{
    text-align: center;
    color: $dark-blue;
  }
  .content{
    text-align: center;
    margin: 20px 0;
  }
}
.middle-container{
  .activities{
    color: $dark-blue;
    margin-bottom: 4rem;
  }
  .slides{
    position: relative;
    width: 80%;
    height: auto;
    .item {
      height: 70vh;
      width: 100%;
      margin-right: 0;
    }
    .item .caption{
      font-size: 2rem;
      font-weight: 600;
      font-family: $serif;
    }
    .item img{
      filter: grayscale(66%) sepia(10%) brightness(93%) hue-rotate(20deg) saturate(175%) contrast(78%);
      -webkit-filter: grayscale(66%) sepia(10%) brightness(93%) hue-rotate(20deg) saturate(175%) contrast(78%);
      -moz-filter: grayscale(66%) sepia(10%) brightness(93%) hue-rotate(20deg) saturate(175%) contrast(78%);
    }
  }
}

@media (max-width: 750px){
  .about_us,.about_us.career{
    background: -webkit-linear-gradient(to bottom, #6f828d, #BBD2C5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #6f828d, #BBD2C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }
}