@import "./variables";

.AboutUsPageMain{
  position: relative;
  top: 50rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content:center;
}
.AboutUsPage{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .intro{
    width: 80%;
    margin: 2rem 0;
    text-align: center;
    h2{
    font-family: $serif;
    font-size: 2rem;
    font-weight: 600;
    color: $dark-blue;
    text-align: center;
    padding: 2rem;
    }
    p{
      line-height: 1.5;
      padding: 10px 0;
    }
    .content{
      margin-top: 0;
      line-height: 1.2;
    }
    @media (max-width:750px) {
      .content p{
        font-size: 1rem !important;
        text-align: justify ;
      }
    }
  }
}
.cards{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(216, 214, 214, 0.562);
  padding: 3rem 0;
  .headings{
  width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    .big,.small{
      margin: 20px;
      font-weight: 600;
    }
    .big,.small:hover{
      cursor: pointer;
    }
    .big h3{
      font-size: 2rem;
      transition: 1s;
      color: $dark-blue;
    }
    .small h3{
      font-size: 0.75rem;
      color: $black;
    }
  }
  
}
.matter{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background: none;
  width: 80%;
  .card{
  background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
  }
  .card .content{
    animation-duration: 2s;
  }
}
.none{
  display: none;
}