.CareerPageMain{
  position: relative;
  top: 40rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.CareerPage{
  width: 80%;
  .heading{
    position: relative;
    margin: 2rem 0;
    h2{
      font-size: 2rem;
      font-family: $serif;
      font-weight: 600;
      color: $dark-blue;
      text-align: center;
    }
  }
  .content{
    position: relative;
    h4{
      font-size: 1.2rem;
      font-family: $san-serif;
    }
    ul{
      margin: 20px;
    }
    ul li{
      padding: 10px;
      line-height: 1.5;
      font-family: $san-serif;
      font-size: 1rem;
      list-style-type :decimal;
    }
  }
}