@import "./variables";
.Navbar{
  display : grid;
  grid-template-columns: 7fr 1fr;
  background: $black;
  position: fixed;
  z-index: 2;
  width: 100%;
  .Brand {
    color:whitesmoke;
    font-size: 2rem;
    display: flex;
    align-items: center;
    img{
      padding: 0;
      margin: 0;
      width: 120px;
      height: auto;
    }
  }
  .Brand:hover,.toggle:hover,.links .link:hover{
    color: $dark-blue;
  }
  .toggle{
    background-color:whitesmoke;
  }
  .links {
    margin: 20px;
  }
  .links .link {
    color: whitesmoke;
  }
}