@import "./variables";

.icon img{
    width: 50px;
    height: auto;
}
.servicesMain{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.services{
  width: 80%;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 120vh;
  .head{
    top: 0;
    left: 0;
    width: 100%;
    position: relative;
    z-index: 1;
  }
  .head h2{
    text-align: center;
    padding-bottom: 40px;
    text-shadow: none;
    color: $dark-blue;
  }
  .icons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5rem 0;
    .icon{
      animation-duration: 2s;
      display: flex;
      align-items: center;
      padding: 10px;
    }
    .icon>*{
      margin: 0 20px;
      font-size: 1.2rem;
    }
  }
  
  @media (max-width: 750px) {
    .icons{
      display: inline;
    }
  }
}