@import "./variables";

.slides{
  width: 100%;
  position: absolute;
  overflow: hidden;
  .item{
    height: 100vh;
    width: auto;
    overflow: hidden;
    display: none;
  
  }
  .active{
    display: flex;
  }
}