// colors

$dark-blue:  #1A74E2;
$blue: #3FA0EF;
$light-blue : #6BD0FF;
$light-black : #1F2123;
$black : #101010;

// fonts
$serif : 'Merriweather', serif;
$san-serif : 'Merriweather Sans', sans-serif;
