@import "./variables";

.welcome{
  position: relative;
  top: 10rem;
  .headings{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    h4{
      color: $dark-blue;
      font-size: 1.5rem;
    }
    h2{
      font-size: 2rem;
      font-weight: 600;
    }
  }
  .content{
    padding: 20px 0;
    font-size: 1.2rem;
  }
}