/* CSS RESET */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* BASIC */
:root {
  --yellow: #ffc600;
  --black: #272727;
}

html {
  /* border-box box model allows us to add padding and border to our elements without increasing their size */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* A system font stack so things load nice and quick! */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}

/*
WAT IS THIS?!
We inherit box-sizing: border-box; from our <html> selector
Apparently this is a bit better than applying box-sizing: border-box; directly to the * selector
*/
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 5px 0;
}

.item p {
  margin: 0 0 5px 0;
}

body {
  margin: 0;
}

/* Start */
.middle-container {
  position: relative;
  top: 90vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.5;
}

.middle-container > * {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Navbar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 7fr 1fr;
      grid-template-columns: 7fr 1fr;
  background: #101010;
}

.Navbar .Brand {
  color: whitesmoke;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Navbar .Brand img {
  padding: 0;
  margin: 0;
  width: 120px;
  height: auto;
}

.Navbar .Brand:hover, .Navbar .toggle:hover, .Navbar .links .link:hover {
  color: #C45100;
}

.Navbar .toggle {
  background-color: whitesmoke;
}

.Navbar .links {
  margin: 20px;
}

.Navbar .links .link {
  color: whitesmoke;
}

.slides {
  width: 100%;
  position: absolute;
  overflow: hidden;
}

.slides .item {
  height: 80vh;
  width: auto;
  overflow: hidden;
  display: none;
}

.slides .item img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.slides .active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.head {
  position: absolute;
  z-index: 2;
  top: 30vh;
  left: 10vh;
  width: 40%;
}

.head h1 {
  line-height: 1.2;
  color: #EB710B;
  font-weight: 800;
  text-shadow: 0px 0px 5px #101010;
  font-size: 8vh;
  font-family: "Merriweather", serif;
}

.head .btn {
  margin: 20px 0;
  border: 1px solid #101010;
  background-color: #EB710B;
}

.head .btn:hover {
  background-color: #C45100;
}

.welcome .headings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.welcome .headings h3 {
  color: #EB710B;
  font-size: 1.5rem;
}

.welcome .headings h1 {
  font-size: 2rem;
  font-weight: 600;
}

.welcome .content {
  padding: 20px 0;
}
/*# sourceMappingURL=styles.css.map */