/* CSS RESET */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* BASIC */
:root {
  --yellow: #ffc600;
  --black: #272727;
}

html {
  /* border-box box model allows us to add padding and border to our elements without increasing their size */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* A system font stack so things load nice and quick! */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}

/*
WAT IS THIS?!
We inherit box-sizing: border-box; from our <html> selector
Apparently this is a bit better than applying box-sizing: border-box; directly to the * selector
*/
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 5px 0;
}

.item p {
  margin: 0 0 5px 0;
}

body {
  margin: 0;
}

/* Start */
.middle-container {
  position: relative;
  top: 90vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.5;
}

.middle-container > * {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom-container {
  width: 100%;
}

.alert {
  position: absolute;
}

.ScrollUpButton__Container {
  z-index: 3;
  border-color: #3FA0EF !important;
  background-color: transparent !important;
}

.ScrollUpButton__Container svg {
  fill: #3FA0EF;
}

h2 {
  font-size: 40px !important;
  font-weight: 600 !important;
  letter-spacing: 1px !important;
  font-family: "Merriweather", serif;
}

h3 {
  font-size: 1.8rem;
  font-family: "Merriweather", serif;
}

p, label {
  letter-spacing: 1px !important;
  font-family: "Merriweather Sans", sans-serif !important;
  font-size: 18px !important;
  line-height: 1.3 !important;
}

@media (max-width: 750px) {
  p {
    text-align: left !important;
    font-size: 1rem !important;
  }
}

body {
  background-color: #E8F0F2;
}

.Navbar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 2fr;
      grid-template-columns: 3fr 2fr;
  background: #101010;
  z-index: 2;
  width: 100%;
  opacity: 0.8;
}

.Navbar .Brand {
  color: whitesmoke;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Navbar .Brand img {
  padding: 0;
  margin: 0;
  width: 150px;
  height: auto;
}

.Navbar .Brand:hover, .Navbar .toggle:hover, .Navbar .links .link:hover {
  color: #1A74E2;
}

.Navbar .toggle {
  background-color: whitesmoke;
}

.Navbar .links {
  margin: 20px;
}

.Navbar .links .link {
  color: whitesmoke !important;
}

@media (max-width: 750px) {
  .Navbar {
    -ms-grid-columns: 7fr 1fr;
        grid-template-columns: 7fr 1fr;
  }
}

.slides {
  width: 100%;
  position: absolute;
  overflow: hidden;
}

.slides .item {
  height: 100vh;
  width: auto;
  overflow: hidden;
  display: none;
}

.slides .item img {
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.slides .active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.headMain {
  height: 100%;
  position: relative;
  top: 25vh;
}

.head {
  position: absolute;
  z-index: 2;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 15vw;
}

.head h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  line-height: 1.2;
  color: #1A74E2;
  font-weight: 800;
  text-shadow: 0px 0px 5px #101010;
  font-size: 8vh;
  font-family: "Merriweather", serif;
}

@media (max-width: 750px) {
  .head h3 {
    font-size: 8vw;
  }
}

.head .btn {
  margin: 20px 0;
  border: 1px solid #101010;
  background-color: #1A74E2;
  width: 10rem;
}

.head .btn:hover {
  background-color: #1A74E2;
}

.welcome {
  position: relative;
  top: 10rem;
}

.welcome .headings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.welcome .headings h4 {
  color: #1A74E2;
  font-size: 1.5rem;
}

.welcome .headings h2 {
  font-size: 2rem;
  font-weight: 600;
}

.welcome .content {
  padding: 20px 0;
  font-size: 1.2rem;
  text-align: center;
}

@media (max-width: 750px) {
  .welcome .content p {
    font-size: 1rem !important;
    text-align: justify;
  }
}

.about_us {
  width: 100%;
  background: #BBD2C5;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#6f828d), to(#BBD2C5));
  background: linear-gradient(to right, #6f828d, #BBD2C5);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin-top: 15rem;
  margin-bottom: 5rem;
}

.about {
  width: 80%;
  margin-bottom: 5rem;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  position: relative;
  padding-top: 50px;
}

.about h2 {
  margin: 2rem 0;
  grid-column: span 2;
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
}

.about .photo {
  width: 90%;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  height: auto;
}

.about .content {
  font-size: 1.2rem;
  margin: 0 5rem;
}

.about .content .btn {
  margin: 1rem 0;
  background-color: #1A74E2;
  border: 1px solid #101010;
}

.about .content .btn:hover {
  background-color: #1A74E2;
}

@media (max-width: 750px) {
  .about .photo, .about .content {
    grid-column: span 2;
    margin: 2rem 0;
  }
}

.about_us.career {
  background: #BBD2C5;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, right top, left top, from(#6f828d), to(#BBD2C5));
  background: linear-gradient(to left, #6f828d, #BBD2C5);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin-top: 5rem !important;
}

@media (max-width: 750px) {
  .about_us.career .about .content {
    -ms-grid-row: 3;
        grid-row-start: 3;
  }
}

.what {
  width: 80%;
}

.who h2, .what h2 {
  text-align: center;
  color: #1A74E2;
}

.who .content, .what .content {
  text-align: center;
  margin: 20px 0;
}

.middle-container .activities {
  color: #1A74E2;
  margin-bottom: 4rem;
}

.middle-container .slides {
  position: relative;
  width: 80%;
  height: auto;
}

.middle-container .slides .item {
  height: 70vh;
  width: 100%;
  margin-right: 0;
}

.middle-container .slides .item .caption {
  font-size: 2rem;
  font-weight: 600;
  font-family: "Merriweather", serif;
}

.middle-container .slides .item img {
  filter: grayscale(66%) sepia(10%) brightness(93%) hue-rotate(20deg) saturate(175%) contrast(78%);
  -webkit-filter: grayscale(66%) sepia(10%) brightness(93%) hue-rotate(20deg) saturate(175%) contrast(78%);
  -moz-filter: grayscale(66%) sepia(10%) brightness(93%) hue-rotate(20deg) saturate(175%) contrast(78%);
}

@media (max-width: 750px) {
  .about_us, .about_us.career {
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-gradient(linear, left top, left bottom, from(#6f828d), to(#BBD2C5));
    background: linear-gradient(to bottom, #6f828d, #BBD2C5);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
}

.icon img {
  width: 50px;
  height: auto;
}

.servicesMain {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  top: 120vh;
}

.services .head {
  top: 0;
  left: 0;
  width: 100%;
  position: relative;
  z-index: 1;
}

.services .head h2 {
  text-align: center;
  padding-bottom: 40px;
  text-shadow: none;
  color: #1A74E2;
}

.services .head .content p {
  margin: 10px 0;
  text-align: center;
}

.services .icons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin: 5rem 0;
}

.services .icons .icon {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.services .icons .icon > * {
  margin: 0 20px;
  font-size: 1.2rem;
}

@media (max-width: 750px) {
  .services .icons {
    display: inline;
  }
}

.contact {
  position: relative;
  top: 80rem;
  background: #BBD2C5;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, right top, left top, from(#536976), to(#BBD2C5));
  background: linear-gradient(to left, #536976, #BBD2C5);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.contact .card .card-body > * {
  max-width: 750px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (6)[1fr];
      grid-template-columns: repeat(1fr, 6);
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
}

.contact .submit {
  border-radius: 5px;
  grid-column: span 6;
  margin-top: 20px;
}

.contact > * {
  background: none;
  color: white;
}

.contact_head {
  font-size: 2rem;
  font-weight: 600;
  font-family: "Merriweather", serif;
  letter-spacing: 2px;
  color: #101010;
  background-color: none;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-header {
  background: none;
}

.card-body {
  max-width: 750px;
}

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  grid-column: span 2;
  margin-right: 20px;
}

.form-group label {
  color: #101010;
  padding-left: 5px;
}

.form-group > * {
  margin: 10px 0;
}

.message {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  grid-column: span 6;
  margin-right: 0;
}

.message textarea {
  height: 100%;
}

.alert {
  top: 70px;
  z-index: 2;
  padding: 5px;
}

.message .alert {
  top: 270px;
}

.thankyou {
  grid-column: span 6;
  color: #101010;
  text-align: center;
  font-size: 1.5rem;
}

@media (max-width: 750px) {
  .form-group {
    grid-column: span 3;
  }
  .message {
    -ms-grid-column: 4;
    -ms-grid-column-span: 2;
    grid-column: 4/6;
    grid-row: 1/-1;
  }
}

.footer_top {
  width: 100%;
  background-color: #101010 !important;
  position: relative;
  top: 79rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer {
  color: white;
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 1.5;
  width: 100%;
  max-width: 750px;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 8rem;
}

.footer > * {
  height: 5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .rights {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

.footer .rights > * {
  width: 100%;
  text-align: left;
}

.footer .icons {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.AboutUsPageMain {
  position: relative;
  top: 50rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.AboutUsPage {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.AboutUsPage .intro {
  width: 80%;
  margin: 2rem 0;
  text-align: center;
}

.AboutUsPage .intro h2 {
  font-family: "Merriweather", serif;
  font-size: 2rem;
  font-weight: 600;
  color: #1A74E2;
  text-align: center;
  padding: 2rem;
}

.AboutUsPage .intro p {
  line-height: 1.5;
  padding: 10px 0;
}

.AboutUsPage .intro .content {
  margin-top: 0;
  line-height: 1.2;
}

@media (max-width: 750px) {
  .AboutUsPage .intro .content p {
    font-size: 1rem !important;
    text-align: justify;
  }
}

.AboutUsPage .about_us {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.AboutUsPage .about_us .about > * {
  margin: 20px;
}

.AboutUsPage .about_us .about img {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.cards {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(216, 214, 214, 0.562);
  padding: 3rem 0;
}

.cards .headings {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cards .headings .big, .cards .headings .small {
  margin: 20px;
  font-weight: 600;
}

.cards .headings .big, .cards .headings .small:hover {
  cursor: pointer;
}

.cards .headings .big h3 {
  font-size: 2rem;
  -webkit-transition: 1s;
  transition: 1s;
  color: #1A74E2;
}

.cards .headings .small h3 {
  font-size: 0.75rem;
  color: #101010;
}

.matter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: none;
  width: 80%;
}

.matter .card {
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
}

.matter .card .content {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.none {
  display: none;
}

.CareerPageMain {
  position: relative;
  top: 120vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.CareerPage {
  width: 80%;
}

.CareerPage .heading {
  position: relative;
  margin: 2rem 0;
}

.CareerPage .heading h2 {
  font-size: 2rem;
  font-family: "Merriweather", serif;
  font-weight: 600;
  color: #1A74E2;
  text-align: center;
}

.CareerPage .content {
  position: relative;
}

.CareerPage .content h4 {
  font-size: 1.3rem;
  font-family: "Merriweather Sans", sans-serif;
  line-height: 1.2;
}

.CareerPage .content ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10fr;
      grid-template-columns: 1fr 10fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.CareerPage .content ul li {
  padding: 10px;
  line-height: 1.5;
  font-family: "Merriweather Sans", sans-serif;
  font-size: 1.2rem;
}

.CareerPage .content ul svg {
  fill: #1A74E2;
}

.JoinUsMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ThankYou {
  position: relative;
  top: 50rem;
  z-index: 10;
  color: #1A74E2;
  font-size: 1.5rem;
}

.Join_Us {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  width: 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  top: 120vh;
}

.none {
  display: none;
}

.error {
  position: absolute;
  color: red;
  top: 80px;
  font-size: 15px !important;
}

.Join_Us .join_head {
  color: #1A74E2;
  margin: 2rem;
  grid-column: span 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Join_Us .submit {
  grid-column: span 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Join_Us .submit .btn {
  width: 10rem;
  height: 3rem;
}

.Join_Us > * {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-column: span 1;
}

.Join_Us > * .resume {
  border: 1px solid #ced4da;
  padding: 7px;
  border-radius: 5px;
}

.Join_Us > * .resume::-webkit-input-placeholder {
  display: none;
}

.Join_Us > * .resume:-ms-input-placeholder {
  display: none;
}

.Join_Us > * .resume::-ms-input-placeholder {
  display: none;
}

.Join_Us > * .resume::placeholder {
  display: none;
}

.inputTag .tagInputFieldClass {
  width: 100%;
  border: 1px solid #ced4da;
  padding: 7px;
  border-radius: 5px;
}

.inputTag .tagClass {
  padding: 5px;
}

input[type=text], textarea {
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}

input[type=text]:focus, textarea:focus {
  -webkit-box-shadow: 0 0 5px #51cbee;
          box-shadow: 0 0 5px #51cbee;
  border: 1px solid #51cbee;
}

@media (max-width: 750px) {
  .Join_Us > * {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    grid-column: span 2;
  }
}

.lds-ring {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 80px;
  height: 80px;
  z-index: 5;
  width: 90vw;
  height: 90vh;
}

.lds-ring.isLoading {
  display: none;
}

.lds-ring div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #1A74E2;
  border-radius: 50%;
  -webkit-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #1A74E2 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  -webkit-animation-delay: -0.45s;
          animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s;
}

@-webkit-keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=styles.css.map */